<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>

    <style>
        body{
            background-image: radial-gradient(red, yellow, green);
        }
        th, td {
            padding: 5px;
        }
    </style>

</head>

<body>

<th:block th:include="/_menu" th/>

<h2>Department</h2>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Manager</td>
        </tr>

        <tr th:each="departmentInfo : ${departmentInfos}">
            <td>
                <a th:href="@{'/department?depId=' + ${departmentInfo.id}}">
                    <div th:text="${departmentInfo.name}"/>
                </a>
            </td>
            <td>
                <div th:text="${departmentInfo.fullName}"/>
            </td>
        </tr>

    </table>
</body>
</html>