<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>

    <style>
        th, td {
            padding: 5px;
        }
    </style>

</head>

<body>

<th:block th:include="/_menu" th/>

<h2>Employees</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Position</th>
        <th>Salary</th>
        <th>DateOfBirthday</th>
        <th>DepId</th>
    </tr>

    <tr th:each="employeeInfo : ${employeeInfos}">
        <td th:utext="${employeeInfo.id}">..</td>
        <td th:utext="${employeeInfo.full_name}">..</td>
        <td th:utext="${employeeInfo.dateOfBirthday}">..</td>
        <td th:utext="${employeeInfo.position}">..</td>
        <td th:utext="${employeeInfo.salary}">..</td>
        <td th:utext="${employeeInfo.depId}">..</td>
    </tr>

</table>
</body>
</html>