<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>

    <style>
        body{
            background-image: radial-gradient(circle, red, yellow, green);
        }
        th, td {
            padding: 5px;
        }
    </style>

</head>

<body>

<th:block th:include="/_menu" th/>

<h2>Employees</h2>

<table border="1">
    <tr>
        <th>Full Name</th>
        <th>DateOfBirthday</th>
        <th>Position</th>
        <th>Salary</th>
        <th>DepName</th>
    </tr>

    <tr th:each="accountInfo : ${employees}">
        <td th:utext="${accountInfo.fullName}">..</td>
        <td th:utext="${accountInfo.dateOfBirthday}">..</td>
        <td th:utext="${accountInfo.position}">..</td>
        <td th:utext="${accountInfo.salary}">..</td>
        <td th:utext="${accountInfo.depName}">..</td>
    </tr>

</table>
</body>
</html>